{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="container">
    <ol class="breadcrumb">
      <li class="active">Create new app</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Secrets
            </h2>
        </div>
        <div class="panel-body">

            <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
            </form>
            
            
        </div>
    </div>



</div>


{% endblock %}