<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pollicino</title>
        <link href="{{ STATIC_URL }}lib/bootswatch/darkly/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    
        {% block head %}
        {% endblock %}
    
    </head>

    <body>

        {% include "navbar.html" %}

        {% block content %}
        {% endblock %}
        
        <script src="{{ STATIC_URL }}lib/bootstrap/dist/js/bootstrap.min.js"></script>
        {% block afterbodyjs %}
        {% endblock %}

    </body>
</html>