{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="container">
    
    <ol class="breadcrumb">
      <li><a href="{% url 'app-detail' app.pk %}">{{app.name}}</a></li>
      <li class="active">Push notification</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Notification message {{object.pk}}
            </h2>
        </div>
        <div class="panel-body">

            <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">
                    Ok
                </button>
                <a type="submit" class="btn btn-default" href="{% url 'app-detail' app.id %}">
                    Cancel
                </a>

            {% endbuttons %}
            </form>
            
            
        </div>
    </div>



</div>


{% endblock %}